/* =====================================================
   KAVACH BANKING SECURITY
   EMPLOYEE PROFILE MODAL
===================================================== */


.modal-overlay{

position:fixed;

inset:0;

background:

rgba(59,31,20,.55);

backdrop-filter:blur(8px);

display:flex;

justify-content:center;

align-items:center;

z-index:999;

}



.employee-modal{


width:900px;


max-width:95%;


max-height:90vh;


overflow-y:auto;


background:#ffffff;


border-radius:28px;


padding:32px;


box-shadow:

0 30px 80px rgba(139,0,0,.25);


animation:

popup .35s ease;


}



@keyframes popup{


from{

opacity:0;

transform:scale(.9);

}


to{

opacity:1;

transform:scale(1);

}


}





/* CLOSE BUTTON */


.close-modal{


position:absolute;


right:30px;


top:25px;


width:42px;


height:42px;


border:none;


border-radius:50%;


background:#FFF3E0;


color:#8B0000;


font-size:18px;


cursor:pointer;


transition:.3s;


}



.close-modal:hover{


background:#8B0000;


color:white;


}




/* PROFILE HEADER */


.profile-header{


display:flex;


align-items:center;


gap:20px;


padding-bottom:25px;


margin-bottom:25px;


border-bottom:

1px solid #E8D8C3;


}



.profile-header h2{


margin:0;


color:#3B1F14;


font-size:28px;


}



.profile-header p{


color:#7C6F64;


}




/* AVATAR */


.employee-avatar{


width:65px;


height:65px;


border-radius:50%;


display:flex;


align-items:center;


justify-content:center;


background:

linear-gradient(
135deg,
#8B0000,
#D4A017
);


color:white;


font-size:24px;


font-weight:800;


}




/* GRID */


.profile-grid{


display:grid;


grid-template-columns:1fr 1fr;


gap:25px;


margin-bottom:25px;


}





.profile-card{


background:#FFF8EF;


border-radius:22px;


padding:24px;


border:

1px solid #E8D8C3;


}




.profile-card h3{


color:#8B0000;


margin-bottom:20px;


}




.info-row{


display:flex;


justify-content:space-between;


align-items:center;


padding:13px 0;


border-bottom:

1px solid #EAD7B7;


}



.info-row:last-child{


border-bottom:none;


}



.info-row span{


color:#7C6F64;


}



.info-row strong{


color:#3B1F14;


}





/* TIMELINE */


.timeline-card{


background:white;


border-radius:20px;


padding:24px;


margin-bottom:20px;


border:

1px solid #E8D8C3;


}



.timeline-card h3{


color:#8B0000;


}



.timeline-card ul{


list-style:none;


padding:0;


}



.timeline-card li{


padding:14px 0;


border-bottom:

1px solid #F1E5D5;


color:#5B4636;


}



.timeline-card li::before{


content:"●";


color:#D4A017;


margin-right:12px;


}




/* FOOTER */


.modal-footer{


display:flex;


justify-content:flex-end;


}



.close-btn{


background:#8B0000;


color:white;


border:none;


padding:12px 28px;


border-radius:12px;


font-weight:700;


cursor:pointer;


}



.close-btn:hover{


background:#650000;


}



/* RESPONSIVE */


@media(max-width:900px){


.profile-grid{


grid-template-columns:1fr;


}


}